################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

C_Assignment/.vs
C_Assignment*/.vs
Cpp_Assignment-1/.vs
Cpp_Assignment/Cpp_Assignment-1/.vs
Cpp_Assignment/Cpp_Assignment-2/.vs