################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

C_Assignment/.vs
C_Assignment-2/.vs
C_Assignment-3/.vs
