################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

C_Assignment-2/.vs
